@model IEnumerable<Notes.Models.Directory>

@{
    ViewBag.Title = "Index";
}



@foreach (var item in Model)
{
    <div class="directory-wrapper col-md-2">
        <div class="directory">
            <span class="fa fa-folder"></span>
            <span class="directory-name">
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </div>
    </div>
}
@foreach (var item in Model)
{
    <div class="directory-wrapper col-md-2">
        <div class="directory">
            <span class="fa fa-folder"></span>
            <span class="directory-name">
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </div>
    </div>
}