@{
    ViewBag.Title = "Index";
}



<div class="items" ng-controller="DirectoryController as dirCtrl">
    @Html.Partial("_ActionBar")
    <div class="directory-wrapper col-md-2" ng-repeat="directory in dirCtrl.directories.directorylist">
        <div class="directory box" ng-click="changeDir(directory.Id)">
            <span class="fa fa-folder"></span>
            <span class="directory-name">
                {{directory.Name}}
            </span>
        </div>
    </div>
    <div class="directory-wrapper col-md-2 directory-new">
        <div class="directory box" ng-click="changeDir(dirCtrl.directory.Id)">
            <span class="fa fa-folder"></span>
            <span class="directory-name">
                {{dirCtrl.directory.Name}}
            </span>
        </div>
    </div>
</div>